.form-container{
  max-width:600px;
  margin:40px auto;
  padding:25px;
  border-radius:15px;
  background:#fff;
  box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

h2{
  text-align:center;
  margin-bottom:20px;
}

.form-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

input, textarea{
  width:100%;
  padding:10px;
  border-radius:8px;
  border:1px solid #ddd;
  transition:0.3s;
}

input:focus, textarea:focus{
  border-color:#0d6efd;
  outline:none;
}

textarea{
  margin-top:10px;
  height:100px;
}

button{
  width:100%;
  margin-top:15px;
  padding:12px;
  background:linear-gradient(45deg,#0d6efd,#6610f2);
  color:white;
  border:none;
  border-radius:10px;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  transform:scale(1.03);
}

/* IMAGE */
.image-upload{
  text-align:center;
  margin-bottom:15px;
}

.preview{
  width: 100%;          /* prend la largeur du container */
  max-width: 140px;     /* limite max */
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  margin: 0 auto;       /* centrer */
}

img { max-width: 100%; height: auto; }