<mat-card class="cardWithShadow overflow-hidden">
  <mat-card-content
    class="bg-{{ courseDetail.courseType }} text-white p-y-10"
  >
    <mat-card-title class="d-flex align-items-center">
      <a
        routerLink="/apps/courses"
        mat-icon-button
        class="text-white d-flex justify-content-center m-r-10"
      >
        <i-tabler name="chevron-left" class="icon-18 d-flex"></i-tabler>
      </a>
      {{ courseDetail.courseName }}
    </mat-card-title>
  </mat-card-content>
</mat-card>

          
          <mat-accordion >
            <mat-expansion-panel
              class="cardWithShadow"
              [expanded]="step === 0"
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
              hideToggle
            >
              <mat-expansion-panel-header>
                <mat-panel-title class="f-w-600 f-s-16"
                  >Formule 1
                </mat-panel-title>
              </mat-expansion-panel-header>
          
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                        >Nom
                      </mat-label>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <input matInput placeholder="John" required/>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                        >Date de naissance
                      </mat-label>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field class="w-100" appearance="outline" style="margin-bottom: 20px;">
                        
                        <input matInput [matDatepicker]="dp3" placeholder="MM/JJ/AAAA"/>
                        <mat-datepicker-toggle
                          matIconSuffix
                          [for]="dp3"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #dp3 ></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                        >Prénom
                      </mat-label>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <input matInput placeholder="Deo" required />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16 "
                        >Régime sociale
                      </mat-label>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-select formControlName="firstCtrl" required>
                          <mat-option value="option1">Assuré social</mat-option>
                          <mat-option value="option3">Alsace moselle</mat-option>
                          <mat-option value="option2">Msa-exploitation-agricole</mat-option>
                          <mat-option value="option3">Msa-salarié-agricole</mat-option>
                          <mat-option value="option1">Profession libérale</mat-option>
                          <mat-option value="option2">Tns</mat-option>
                          <mat-option value="option3">Tns-immat-en-cours</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
          
              <mat-action-row >
                <button mat-flat-button color="primary" (click)="nextStep()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>
          
            <mat-expansion-panel
              class="cardWithShadow"
              [expanded]="step === 1"
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
              hideToggle
            >
              <mat-expansion-panel-header>
                <mat-panel-title class="f-w-600 f-s-16"
                  >Formule 2
                </mat-panel-title>
              </mat-expansion-panel-header>
          
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                        >Nom
                      </mat-label>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <input matInput placeholder="John" required/>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Date de naissance</mat-label>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <input matInput [matDatepicker]="datepicker" placeholder="MM/JJ/AAAA" />
                        <mat-datepicker-toggle
                          matIconSuffix
                          [for]="datepicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #datepicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                        >Prénom
                      </mat-label>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <input matInput placeholder="Deo" required />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16 "
                        >Régime sociale
                      </mat-label>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-select formControlName="firstCtrl" required>
                          <mat-option value="option1">Assuré social</mat-option>
                          <mat-option value="option3">Alsace moselle</mat-option>
                          <mat-option value="option2">Msa-exploitation-agricole</mat-option>
                          <mat-option value="option3">Msa-salarié-agricole</mat-option>
                          <mat-option value="option1">Profession libérale</mat-option>
                          <mat-option value="option2">Tns</mat-option>
                          <mat-option value="option3">Tns-immat-en-cours</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
          
              <mat-action-row>
                <button mat-flat-button color="warn" (click)="prevStep()">
                  Retour
                </button>
                <button mat-flat-button color="primary" (click)="nextStep()">Next</button>
              </mat-action-row>
            </mat-expansion-panel>
          
            <mat-expansion-panel
              class="cardWithShadow"
              [expanded]="step === 2"
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
              hideToggle
            >
              <mat-expansion-panel-header>
                <mat-panel-title class="f-w-600 f-s-16">Formule 3</mat-panel-title>
              </mat-expansion-panel-header>
              
              <div class="col-sm-12 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16 "
                  >Nombres d'enfants :
                </mat-label>
              </div>
              <mat-radio-group aria-label="Select an option" class="m-t-8">
                <mat-radio-button value="1" color="primary">1</mat-radio-button>
                <mat-radio-button value="2" color="primary">2</mat-radio-button>
                <mat-radio-button value="1" color="primary">3</mat-radio-button>
                <mat-radio-button value="2" color="primary">+3</mat-radio-button>
              </mat-radio-group> <br>
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                        >Date de naissance de l'enfant 1
                      </mat-label>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <input matInput [matDatepicker]="datepicker1" placeholder="MM/JJ/AAAA" />
                        <mat-datepicker-toggle
                          matIconSuffix
                          [for]="datepicker1"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #datepicker1></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <div class="row">
                  <div class="col-sm-12 d-flex align-items-center">
                    <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                      >Date de naissance de l'enfant 2
                    </mat-label>
                  </div>
                  <div class="col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                      <input matInput [matDatepicker]="datepicker2" placeholder="MM/JJ/AAAA" />
                      <mat-datepicker-toggle
                        matIconSuffix
                        [for]="datepicker2"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #datepicker2></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-sm-12 d-flex align-items-center">
                  <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                    >Date de naissance de l'enfant 3
                  </mat-label>
                </div>
                <div class="col-sm-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <input matInput [matDatepicker]="datepicker3" placeholder="MM/JJ/AAAA" />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="datepicker3"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #datepicker3></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
          </div>
        </div>
              <mat-action-row>
                <button mat-flat-button color="warn" (click)="prevStep()">
                  Retour
                </button>
                <button mat-flat-button color="primary" (click)="nextStep()">Finir</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion> <br>


<!-- <mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-vertical-stepper #stepper>
      <mat-step>
        <ng-template matStepLabel>Introduction</ng-template>
        <h3>Step 1 - Introduction</h3>
        <p>
          This is an example step of the course. You can put anything in here
          from example codes to videos.
        </p>
        <p>
          To install the CLI you need to have installed npm which typically
          comes with NodeJS.To install or upgrade the CLI run the following npm
          command:
        </p>
        <p>npm -g install &#64;angular/cli</p>
        <p>
          To verify that the CLI has been installed correctly, open a console
          and run:
        </p>
        <p>ng version</p>
        <h3>Install dependencies</h3>
        <p>To moderate the images we'll need a few Node.js packages:</p>
        The Google Cloud Vision Client Library for Node.js: &#64;google-cloud/vision
        to run the image through the Cloud Vision API to detect inappropriate
        images. The Google Cloud Storage Client Library for Node.js:
        &#64;google-cloud/storage to download and upload the images from Cloud
        Storage. A Node.js library allowing us to run processes:
        child-process-promise to run ImageMagick since the ImageMagick
        command-line tool comes pre-installed on all Functions instances.
        <p>
          To install these three packages into your Cloud Functions app, run the
          following npm install --save command. Make sure that you do this from
          the functions directory.
        </p>
        <p>
          npm install --save &#64;google-cloud/vision &#64;google-cloud/storage
          child-process-promise
        </p>
        <p>
          This will install the three packages locally and add them as declared
          dependencies in your package.js file.
        </p>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Get the sample code</ng-template>
        <h3>Step 2 - Get the sample code</h3>
        <p>
          This is an example step of the course. You can put anything in here
          from example codes to videos.
        </p>
        <p>
          To install the CLI you need to have installed npm which typically
          comes with NodeJS.To install or upgrade the CLI run the following npm
          command:
        </p>
        <p>npm -g install &#64;angular/cli</p>
        <p>
          To verify that the CLI has been installed correctly, open a console
          and run:
        </p>
        <p>ng version</p>
        <h3>Install dependencies</h3>
        <p>To moderate the images we'll need a few Node.js packages:</p>
        The Google Cloud Vision Client Library for Node.js: &#64;google-cloud/vision
        to run the image through the Cloud Vision API to detect inappropriate
        images. The Google Cloud Storage Client Library for Node.js:
        &#64;google-cloud/storage to download and upload the images from Cloud
        Storage. A Node.js library allowing us to run processes:
        child-process-promise to run ImageMagick since the ImageMagick
        command-line tool comes pre-installed on all Functions instances.
        <p>
          To install these three packages into your Cloud Functions app, run the
          following npm install --save command. Make sure that you do this from
          the functions directory.
        </p>
        <p>
          npm install --save &#64;google-cloud/vision &#64;google-cloud/storage
          child-process-promise
        </p>
        <p>
          This will install the three packages locally and add them as declared
          dependencies in your package.js file.
        </p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          Create a Firebase project and Set up your app</ng-template
        >
        <h3>Step 3 - Create a Firebase project and Set up your app</h3>
        <p>
          This is an example step of the course. You can put anything in here
          from example codes to videos.
        </p>
        <p>
          To install the CLI you need to have installed npm which typically
          comes with NodeJS.To install or upgrade the CLI run the following npm
          command:
        </p>
        <p>npm -g install &#64;angular/cli</p>
        <p>
          To verify that the CLI has been installed correctly, open a console
          and run:
        </p>
        <p>ng version</p>
        <h3>Install dependencies</h3>
        <p>To moderate the images we'll need a few Node.js packages:</p>
        The Google Cloud Vision Client Library for Node.js: &#64;google-cloud/vision
        to run the image through the Cloud Vision API to detect inappropriate
        images. The Google Cloud Storage Client Library for Node.js:
        &#64;google-cloud/storage to download and upload the images from Cloud
        Storage. A Node.js library allowing us to run processes:
        child-process-promise to run ImageMagick since the ImageMagick
        command-line tool comes pre-installed on all Functions instances.
        <p>
          To install these three packages into your Cloud Functions app, run the
          following npm install --save command. Make sure that you do this from
          the functions directory.
        </p>
        <p>
          npm install --save &#64;google-cloud/vision &#64;google-cloud/storage
          child-process-promise
        </p>
        <p>
          This will install the three packages locally and add them as declared
          dependencies in your package.js file.
        </p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel
          >Install the Firebase Command Line Interface</ng-template
        >
        <h3>Step 4 - Install the Firebase Command Line Interface</h3>
        <p>
          This is an example step of the course. You can put anything in here
          from example codes to videos.
        </p>
        <p>
          To install the CLI you need to have installed npm which typically
          comes with NodeJS.To install or upgrade the CLI run the following npm
          command:
        </p>
        <p>npm -g install &#64;angular/cli</p>
        <p>
          To verify that the CLI has been installed correctly, open a console
          and run:
        </p>
        <p>ng version</p>
        <h3>Install dependencies</h3>
        <p>To moderate the images we'll need a few Node.js packages:</p>
        The Google Cloud Vision Client Library for Node.js: &#64;google-cloud/vision
        to run the image through the Cloud Vision API to detect inappropriate
        images. The Google Cloud Storage Client Library for Node.js:
        &#64;google-cloud/storage to download and upload the images from Cloud
        Storage. A Node.js library allowing us to run processes:
        child-process-promise to run ImageMagick since the ImageMagick
        command-line tool comes pre-installed on all Functions instances.
        <p>
          To install these three packages into your Cloud Functions app, run the
          following npm install --save command. Make sure that you do this from
          the functions directory.
        </p>
        <p>
          npm install --save &#64;google-cloud/vision &#64;google-cloud/storage
          child-process-promise
        </p>
        <p>
          This will install the three packages locally and add them as declared
          dependencies in your package.js file.
        </p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Deploy and run the web app</ng-template>
        <h3>Step 5 - Deploy and run the web app</h3>
        <p>
          This is an example step of the course. You can put anything in here
          from example codes to videos.
        </p>
        <p>
          To install the CLI you need to have installed npm which typically
          comes with NodeJS.To install or upgrade the CLI run the following npm
          command:
        </p>
        <p>npm -g install &#64;angular/cli</p>
        <p>
          To verify that the CLI has been installed correctly, open a console
          and run:
        </p>
        <p>ng version</p>
        <h3>Install dependencies</h3>
        <p>To moderate the images we'll need a few Node.js packages:</p>
        The Google Cloud Vision Client Library for Node.js: &#64;google-cloud/vision
        to run the image through the Cloud Vision API to detect inappropriate
        images. The Google Cloud Storage Client Library for Node.js:
        &#64;google-cloud/storage to download and upload the images from Cloud
        Storage. A Node.js library allowing us to run processes:
        child-process-promise to run ImageMagick since the ImageMagick
        command-line tool comes pre-installed on all Functions instances.
        <p>
          To install these three packages into your Cloud Functions app, run the
          following npm install --save command. Make sure that you do this from
          the functions directory.
        </p>
        <p>
          npm install --save &#64;google-cloud/vision &#64;google-cloud/storage
          child-process-promise
        </p>
        <p>
          This will install the three packages locally and add them as declared
          dependencies in your package.js file.
        </p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>The Functions Directory</ng-template>
        <h3>Step 6 - The Functions Directory</h3>
        <p>
          This is an example step of the course. You can put anything in here
          from example codes to videos.
        </p>
        <p>
          To install the CLI you need to have installed npm which typically
          comes with NodeJS.To install or upgrade the CLI run the following npm
          command:
        </p>
        <p>npm -g install &#64;angular/cli</p>
        <p>
          To verify that the CLI has been installed correctly, open a console
          and run:
        </p>
        <p>ng version</p>
        <h3>Install dependencies</h3>
        <p>To moderate the images we'll need a few Node.js packages:</p>
        The Google Cloud Vision Client Library for Node.js: &#64;google-cloud/vision
        to run the image through the Cloud Vision API to detect inappropriate
        images. The Google Cloud Storage Client Library for Node.js:
        &#64;google-cloud/storage to download and upload the images from Cloud
        Storage. A Node.js library allowing us to run processes:
        child-process-promise to run ImageMagick since the ImageMagick
        command-line tool comes pre-installed on all Functions instances.
        <p>
          To install these three packages into your Cloud Functions app, run the
          following npm install --save command. Make sure that you do this from
          the functions directory.
        </p>
        <p>
          npm install --save &#64;google-cloud/vision &#64;google-cloud/storage
          child-process-promise
        </p>
        <p>
          This will install the three packages locally and add them as declared
          dependencies in your package.js file.
        </p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel
          >Import the Cloud Functions and Firebase Admin modules</ng-template
        >
        <h3>Step 7 -Import the Cloud Functions and Firebase Admin modules</h3>
        <p>
          This is an example step of the course. You can put anything in here
          from example codes to videos.
        </p>
        <p>
          To install the CLI you need to have installed npm which typically
          comes with NodeJS.To install or upgrade the CLI run the following npm
          command:
        </p>
        <p>npm -g install &#64;angular/cli</p>
        <p>
          To verify that the CLI has been installed correctly, open a console
          and run:
        </p>
        <p>ng version</p>
        <h3>Install dependencies</h3>
        <p>To moderate the images we'll need a few Node.js packages:</p>
        The Google Cloud Vision Client Library for Node.js: &#64;google-cloud/vision
        to run the image through the Cloud Vision API to detect inappropriate
        images. The Google Cloud Storage Client Library for Node.js:
        &#64;google-cloud/storage to download and upload the images from Cloud
        Storage. A Node.js library allowing us to run processes:
        child-process-promise to run ImageMagick since the ImageMagick
        command-line tool comes pre-installed on all Functions instances.
        <p>
          To install these three packages into your Cloud Functions app, run the
          following npm install --save command. Make sure that you do this from
          the functions directory.
        </p>
        <p>
          npm install --save &#64;google-cloud/vision &#64;google-cloud/storage
          child-process-promise
        </p>
        <p>
          This will install the three packages locally and add them as declared
          dependencies in your package.js file.
        </p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Welcome New Users</ng-template>
        <h3>Step 8 - Welcome New Users</h3>
        <p>
          This is an example step of the course. You can put anything in here
          from example codes to videos.
        </p>
        <p>
          To install the CLI you need to have installed npm which typically
          comes with NodeJS.To install or upgrade the CLI run the following npm
          command:
        </p>
        <p>npm -g install &#64;angular/cli</p>
        <p>
          To verify that the CLI has been installed correctly, open a console
          and run:
        </p>
        <p>ng version</p>
        <h3>Install dependencies</h3>
        <p>To moderate the images we'll need a few Node.js packages:</p>
        The Google Cloud Vision Client Library for Node.js: &#64;google-cloud/vision
        to run the image through the Cloud Vision API to detect inappropriate
        images. The Google Cloud Storage Client Library for Node.js:
        &#64;google-cloud/storage to download and upload the images from Cloud
        Storage. A Node.js library allowing us to run processes:
        child-process-promise to run ImageMagick since the ImageMagick
        command-line tool comes pre-installed on all Functions instances.
        <p>
          To install these three packages into your Cloud Functions app, run the
          following npm install --save command. Make sure that you do this from
          the functions directory.
        </p>
        <p>
          npm install --save &#64;google-cloud/vision &#64;google-cloud/storage
          child-process-promise
        </p>
        <p>
          This will install the three packages locally and add them as declared
          dependencies in your package.js file.
        </p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Images moderation</ng-template>
        <h3>Step 9 - Images moderation</h3>
        <p>
          This is an example step of the course. You can put anything in here
          from example codes to videos.
        </p>
        <p>
          To install the CLI you need to have installed npm which typically
          comes with NodeJS.To install or upgrade the CLI run the following npm
          command:
        </p>
        <p>npm -g install &#64;angular/cli</p>
        <p>
          To verify that the CLI has been installed correctly, open a console
          and run:
        </p>
        <p>ng version</p>
        <h3>Install dependencies</h3>
        <p>To moderate the images we'll need a few Node.js packages:</p>
        The Google Cloud Vision Client Library for Node.js: &#64;google-cloud/vision
        to run the image through the Cloud Vision API to detect inappropriate
        images. The Google Cloud Storage Client Library for Node.js:
        &#64;google-cloud/storage to download and upload the images from Cloud
        Storage. A Node.js library allowing us to run processes:
        child-process-promise to run ImageMagick since the ImageMagick
        command-line tool comes pre-installed on all Functions instances.
        <p>
          To install these three packages into your Cloud Functions app, run the
          following npm install --save command. Make sure that you do this from
          the functions directory.
        </p>
        <p>
          npm install --save &#64;google-cloud/vision &#64;google-cloud/storage
          child-process-promise
        </p>
        <p>
          This will install the three packages locally and add them as declared
          dependencies in your package.js file.
        </p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>New Message Notifications</ng-template>
        <h3>Step 10 - New Message Notifications</h3>
        <p>
          This is an example step of the course. You can put anything in here
          from example codes to videos.
        </p>
        <p>
          To install the CLI you need to have installed npm which typically
          comes with NodeJS.To install or upgrade the CLI run the following npm
          command:
        </p>
        <p>npm -g install &#64;angular/cli</p>
        <p>
          To verify that the CLI has been installed correctly, open a console
          and run:
        </p>
        <p>ng version</p>
        <h3>Install dependencies</h3>
        <p>To moderate the images we'll need a few Node.js packages:</p>
        The Google Cloud Vision Client Library for Node.js: &#64;google-cloud/vision
        to run the image through the Cloud Vision API to detect inappropriate
        images. The Google Cloud Storage Client Library for Node.js:
        &#64;google-cloud/storage to download and upload the images from Cloud
        Storage. A Node.js library allowing us to run processes:
        child-process-promise to run ImageMagick since the ImageMagick
        command-line tool comes pre-installed on all Functions instances.
        <p>
          To install these three packages into your Cloud Functions app, run the
          following npm install --save command. Make sure that you do this from
          the functions directory.
        </p>
        <p>
          npm install --save &#64;google-cloud/vision &#64;google-cloud/storage
          child-process-promise
        </p>
        <p>
          This will install the three packages locally and add them as declared
          dependencies in your package.js file.
        </p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Congratulations!</ng-template>
        <h3>Step 11 - Congratulations!</h3>
        <p>
          You've built a full-fidelity, offline-capable progressive web app by
          leveraging the power of reusable Web Components and Firebase. Why
          bother with a native app when you know how to do all that?!
        </p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>-->
