<div class="review-page">

  <!-- LOADING -->
  <div *ngIf="loading" class="loading-container">

    <mat-spinner></mat-spinner>

  </div>

  <!-- REVIEW CARD -->
  <div *ngIf="!loading" class="review-card">

    <!-- HEADER -->
    <div class="review-header">

      <div>

        <h1>

          {{ isEditMode
            ? 'Edit Your Review'
            : 'Write a Review' }}

        </h1>

        <p class="subtitle">

          Share your thoughts about this book

        </p>

      </div>

      <div class="review-badge">

        <mat-icon>auto_stories</mat-icon>

      </div>

    </div>

    <!-- STARS -->
    <div class="stars-section">

      <div class="stars-container">

        <span
          *ngFor="let s of [1,2,3,4,5]"
          class="star"
          [class.active]="
            s <= (hoverRating || selectedRating)
          "
          (click)="setRating(s)"
          (mouseenter)="setHover(s)"
          (mouseleave)="clearHover()">

          ★

        </span>

      </div>

      <!-- RATING LABEL -->
      <div
        class="rating-label"
        *ngIf="selectedRating">

        {{ currentLabel }}
        •
        {{ selectedRating }}/5

      </div>

    </div>

    <!-- TEXTAREA -->
    <div class="textarea-wrapper">

      <textarea
        [(ngModel)]="comment"
        maxlength="1000"
        placeholder="What did you like or dislike about this book?"
        class="textarea">
      </textarea>

      <!-- COUNTER -->
      <div class="counter">
        {{ comment.length }}/1000
      </div>

    </div>

    <!-- ACTIONS -->
    <div class="actions">
      <button
        class="btn-cancel"
        (click)="goBack()">
        Cancel
      </button>

      <button
        class="btn-submit"
        (click)="submit()"
        [disabled]="
          !selectedRating ||
          !comment.trim() ||
          saving
        ">
        <span *ngIf="!saving">
          {{ isEditMode
            ? 'Update Review'
            : 'Publish Review' }}
        </span>

        <span *ngIf="saving">
          Saving...
        </span>

      </button>

    </div>

  </div>

</div>