<div class="review-card">

  <h2>Your Review</h2>

  <!-- STARS -->
  <div class="stars-container">
    <span *ngFor="let s of [1,2,3,4,5]"
          (click)="selectedRating = s"
          (mouseover)="hoverRating = s"
          (mouseleave)="hoverRating = 0"
          [class.active]="s <= (hoverRating || selectedRating)"
          class="star">
      ★
    </span>
  </div>

  <!-- TEXT FEEDBACK -->
  <p class="rating-text" *ngIf="selectedRating">
    {{ (selectedRating) }} ({{ selectedRating }}/5)
  </p>

  <!-- TEXTAREA -->
  <textarea [(ngModel)]="comment"
            placeholder="Write your honest review..."
            class="textarea">
  </textarea>

  <!-- BUTTON -->
  <button (click)="submit()" 
          [disabled]="!selectedRating || !comment"
          class="btn-submit">
    Save Review
  </button>

</div>