<!-- <h5 mat-dialog-title class="mat-subtitle-1">Delete file</h5>
<div mat-dialog-content class="mat-subtitle-2 lh-16">
  azertyuiiopmlkjhgfdsqwxcvbn
</div>
<div mat-dialog-actions class="p-24 p-t-0">
  <button mat-stroked-button color="warn" mat-dialog-close>No</button>
  <button mat-flat-button color="primary" mat-dialog-close cdkFocusInitial>
    Ok
  </button>
</div>-->
 
    <div class="row" style="margin-top: 45px;margin-left: 45px;margin-right: 45px;">
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>CourseType</mat-label>
          <input
            type="text"
            matInput
            required
            id="name"
            name="name"
            
            placeholder="CourseType"
          />
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>CourseFramework</mat-label>
          <input
            type="text"
            matInput
            required
            id="position"
            name="position"
            
            placeholder="CourseFramework"
          />
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Time</mat-label>
          <input
            type="text"
            matInput
            required
            id="email"
            name="email"
            
            placeholder="Time"
          />
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>CourseName</mat-label>
          <input
            type="text"
            matInput
            required
            id="mobile"
            name="mobile"
            
            placeholder="CourseName"
          />
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Update</mat-label>
          <input
            type="text"
            placeholder="Update"
            matInput
            required
            id="doj"
            name="doj"
            
          />
        </mat-form-field>
      </div>
      
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Projetcts</mat-label>
          <input
            type="text"
            matInput
            required
            id="projects"
            name="projects"
           
            placeholder="Projects"
          />
        </mat-form-field>
      </div>
    </div>
 
      <button mat-stroked-button color="warn" mat-dialog-close style="margin-right:40px;margin-left:40px; margin-bottom:3px;">Annuler</button>
      <button mat-flat-button color="primary" mat-dialog-close cdkFocusInitial style="margin-right:40px;margin-left:40px; margin-bottom: 20px;margin-top: 3px;">Ajouter</button>
  
    <!-- <button
      mat-flat-button
      
      mat-flat-button
      color="primary"
    >
    Ajouter
    </button>
    <button
      mat-stroked-button
      color="warn"
      class="m-l-8"
     
    >
      Annuler
    </button>-->


