<div class="row">
  <!-- column -->
  <div class="col-lg-8">
    <!-- card -->
    <mat-card class="shadow-none bg-light-primary overflow-hidden" style="position: relative; width:100%;height:300px;">
      <mat-card-content class="p-32 p-b-0">
        <div class="row justify-content-between">
          <div class="col-sm-6" style="position: absolute;left: 190px;">
            <mat-card-title>Welcome back Mathew!</mat-card-title>
            <mat-card-subtitle class="mat-body-1 m-t-16 lh-24 m-b-24">
              You have earned 54% more than last month which is a great thing.
            </mat-card-subtitle>
            <button mat-flat-button color="primary" style="position: absolute;right:0px; top: 110px;">Souscrire</button>
          </div>
          <div class="col-sm-5 d-flex flex-column">
            <div class="d-flex flex-column">
              <mat-checkbox>Check me!</mat-checkbox>
              <img src="assets/images/logos/logoo.png" alt="welcome" width="200" class="welcome-img" style="position: absolute;left: 0px; top: 40px;" /> <br>
              <div id="dataDisplay" style="position: absolute;left: 0px; top: 200px;">Contenu initial à afficher</div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
   <!-- card -->
    <mat-card class="shadow-none bg-light-accent overflow-hidden">
      <mat-card-content class="p-32 p-b-0">
        <div class="row justify-content-between">
          <div class="col-sm-6">
            <mat-card-title>Track your every Transaction Easily</mat-card-title>
            <mat-card-subtitle class="mat-body-1 m-t-16 lh-24 m-b-24"
              >Track and record your every income and expence easily to control
              your balance</mat-card-subtitle
            >
            <button mat-flat-button color="accent" class="m-b-24">
              Download
            </button>
          </div>
          <div class="col-sm-5">
            <img
              src="assets/images/backgrounds/login-bg.svg"
              alt="welcome"
              width="240"
              class="welcome-img"
            />
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div> 
</div>
