
<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Prospet</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <mat-stepper #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form class="m-t-24" [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Assuré</ng-template>
          
          <mat-accordion >
            <mat-expansion-panel
              class="cardWithShadow"
              [expanded]="step === 0"
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
              hideToggle
            >
              <mat-expansion-panel-header>
                <mat-panel-title class="f-w-600 f-s-16"
                  >Cordonnées d'Assuré
                </mat-panel-title>
              </mat-expansion-panel-header>
          
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                        >Nom
                      </mat-label>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <input matInput placeholder="John" required/>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                        >Date de naissance
                      </mat-label>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field class="w-100" appearance="outline" style="margin-bottom: 20px;">
                        
                        <input matInput [matDatepicker]="dp3" placeholder="MM/JJ/AAAA"/>
                        <mat-datepicker-toggle
                          matIconSuffix
                          [for]="dp3"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #dp3 ></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                        >Prénom
                      </mat-label>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <input matInput placeholder="Deo" required />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16 "
                        >Régime sociale
                      </mat-label>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-select formControlName="firstCtrl" required>
                          <mat-option value="option1">Assuré social</mat-option>
                          <mat-option value="option3">Alsace moselle</mat-option>
                          <mat-option value="option2">Msa-exploitation-agricole</mat-option>
                          <mat-option value="option3">Msa-salarié-agricole</mat-option>
                          <mat-option value="option1">Profession libérale</mat-option>
                          <mat-option value="option2">Tns</mat-option>
                          <mat-option value="option3">Tns-immat-en-cours</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
          
              <mat-action-row >
                <button mat-flat-button color="primary" (click)="nextStep()">AJOUT</button>
              </mat-action-row>
            </mat-expansion-panel>
          
            <mat-expansion-panel
              class="cardWithShadow"
              [expanded]="step === 1"
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
              hideToggle
            >
              <mat-expansion-panel-header>
                <mat-panel-title class="f-w-600 f-s-16"
                  >Cordonnées du conjoint
                </mat-panel-title>
              </mat-expansion-panel-header>
          
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                        >Nom
                      </mat-label>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <input matInput placeholder="John" required/>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Date de naissance</mat-label>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <input matInput [matDatepicker]="datepicker" placeholder="MM/JJ/AAAA" />
                        <mat-datepicker-toggle
                          matIconSuffix
                          [for]="datepicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #datepicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                        >Prénom
                      </mat-label>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <input matInput placeholder="Deo" required />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16 "
                        >Régime sociale
                      </mat-label>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <mat-select formControlName="firstCtrl" required>
                          <mat-option value="option1">Assuré social</mat-option>
                          <mat-option value="option3">Alsace moselle</mat-option>
                          <mat-option value="option2">Msa-exploitation-agricole</mat-option>
                          <mat-option value="option3">Msa-salarié-agricole</mat-option>
                          <mat-option value="option1">Profession libérale</mat-option>
                          <mat-option value="option2">Tns</mat-option>
                          <mat-option value="option3">Tns-immat-en-cours</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
          
              <mat-action-row>
                <button mat-flat-button color="warn" (click)="prevStep()">
                  Retour
                </button>
                <button mat-flat-button color="primary" (click)="nextStep()">AJOUT</button>
              </mat-action-row>
            </mat-expansion-panel>
          
            <mat-expansion-panel
              class="cardWithShadow"
              [expanded]="step === 2"
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
              hideToggle
            >
              <mat-expansion-panel-header>
                <mat-panel-title class="f-w-600 f-s-16">Cordonnées d'ajoutés </mat-panel-title>
              </mat-expansion-panel-header>
              
              <div class="col-sm-12 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16 "
                  >Nombres d'enfants :
                </mat-label>
              </div>
              <mat-radio-group aria-label="Select an option" class="m-t-8">
                <mat-radio-button value="1" color="primary">1</mat-radio-button>
                <mat-radio-button value="2" color="primary">2</mat-radio-button>
                <mat-radio-button value="1" color="primary">3</mat-radio-button>
                <mat-radio-button value="2" color="primary">+3</mat-radio-button>
              </mat-radio-group> <br>
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="row">
                    <div class="col-sm-12 d-flex align-items-center">
                      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                        >Date de naissance de l'enfant 1
                      </mat-label>
                    </div>
                    <div class="col-sm-12">
                      <mat-form-field appearance="outline" class="w-100">
                        <input matInput [matDatepicker]="datepicker1" placeholder="MM/JJ/AAAA" />
                        <mat-datepicker-toggle
                          matIconSuffix
                          [for]="datepicker1"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #datepicker1></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <div class="row">
                  <div class="col-sm-12 d-flex align-items-center">
                    <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                      >Date de naissance de l'enfant 2
                    </mat-label>
                  </div>
                  <div class="col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                      <input matInput [matDatepicker]="datepicker2" placeholder="MM/JJ/AAAA" />
                      <mat-datepicker-toggle
                        matIconSuffix
                        [for]="datepicker2"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #datepicker2></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-sm-12 d-flex align-items-center">
                  <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                    >Date de naissance de l'enfant 3
                  </mat-label>
                </div>
                <div class="col-sm-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <input matInput [matDatepicker]="datepicker3" placeholder="MM/JJ/AAAA" />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="datepicker3"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #datepicker3></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
          </div>
        </div>
              <mat-action-row>
                <button mat-flat-button color="warn" (click)="prevStep()">
                  Retour
                </button>
                <button mat-flat-button color="primary" (click)="nextStep()">Finir</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion> <br>
  

          <div class="text-right">
            <button mat-flat-button color="primary" matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form class="m-t-24" [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Cordonnées générales</ng-template>
          <div>
            <div class="row">
              <div class="col-lg-6 col-sm-6">
                <div class="row">
                  <div class="col-sm-12 d-flex align-items-center">
                    <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                      >Adresse</mat-label
                    >
                  </div>
                  <div class="col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                      <input matInput placeholder="Adresse" required />
                      <mat-icon matPrefix class="op-5">
                        <i-tabler
                          name="building-arch"
                          class="icon-20 d-flex"
                        ></i-tabler>
                      </mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 d-flex align-items-center">
                    <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                      >Email</mat-label
                    >
                  </div>
                  <div class="col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                      <input matInput placeholder="john.deo@exemple.com" type="email" required />
                      <mat-icon matPrefix class="op-5">
                        <i-tabler name="mail" class="icon-20 d-flex"></i-tabler>
                      </mat-icon>
                    </mat-form-field>
                  </div>
                </div>
                
              </div>
              <div class="col-lg-6 col-sm-6">
                <div class="row">
                  <div class="col-sm-12 d-flex align-items-center">
                    <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                      >Code postal
                    </mat-label>
                  </div>
                  <div class="col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                      <input matInput placeholder="Code postal" required />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 d-flex align-items-center">
                    <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                      >Téléphone</mat-label
                    >
                  </div>
                  <div class="col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                      <input matInput placeholder="123 4561 123" required />
                      <mat-icon matPrefix class="op-5">
                        <i-tabler name="phone" class="icon-20 d-flex"></i-tabler>
                      </mat-icon>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <button mat-flat-button color="warn" matStepperPrevious>
              Retour
            </button>
            <button mat-flat-button color="primary" matStepperNext>Suivant</button>
          </div>
        </form>
      </mat-step>
     <!--BESOINS-->
     <mat-step [stepControl]="secondFormGroup">
      <form class="m-t-24" [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Besoins</ng-template>
        <div>
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-sm-12 d-flex align-items-center">
                  <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                    >Soins courants</mat-label
                  >
                </div>
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1" color="primary"
                    >Minimum</mat-radio-button
                  >
                  <mat-radio-button value="2" color="primary"
                    >Moyen</mat-radio-button
                  >
                  <mat-radio-button value="3" color="primary"
                    >Fort</mat-radio-button
                  >
                  <mat-radio-button value="4" color="primary"
                    >Maximum</mat-radio-button
                  >
                </mat-radio-group>
              </div> <br>
              <div class="row">
                <div class="col-sm-12 d-flex align-items-center">
                  <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                    >Optique</mat-label
                  >
                </div>
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1" color="primary"
                    >Minimum</mat-radio-button
                  >
                  <mat-radio-button value="2" color="primary"
                    >Moyen</mat-radio-button
                  >
                  <mat-radio-button value="3" color="primary"
                    >Fort</mat-radio-button
                  >
                  <mat-radio-button value="4" color="primary"
                    >Maximum</mat-radio-button
                  >
                </mat-radio-group>
              </div> <br>
              
              <div class="row">
                <div class="col-sm-12 d-flex align-items-center">
                  <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                    >Auditive</mat-label
                  >
                </div>
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1" color="primary"
                    >Minimum</mat-radio-button
                  >
                  <mat-radio-button value="2" color="primary"
                    >Moyen</mat-radio-button
                  >
                  <mat-radio-button value="3" color="primary"
                    >Fort</mat-radio-button
                  >
                  <mat-radio-button value="4" color="primary"
                    >Maximum</mat-radio-button
                  >
                </mat-radio-group>
              </div>
              
            </div> <br>
            <div class="col-lg-6 col-sm-6">
              <div class="row">
                <div class="col-sm-12 d-flex align-items-center">
                  <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                    >Hospitalisation</mat-label
                  >
                </div>
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1" color="primary"
                    >Minimum</mat-radio-button
                  >
                  <mat-radio-button value="2" color="primary"
                    >Moyen</mat-radio-button
                  >
                  <mat-radio-button value="3" color="primary"
                    >Fort</mat-radio-button
                  >
                  <mat-radio-button value="4" color="primary"
                    >Maximum</mat-radio-button
                  >
                </mat-radio-group>
              </div> <br>
              <div class="row">
                <div class="col-sm-12 d-flex align-items-center">
                  <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                    >Dentaire
                  </mat-label>
                </div>
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1" color="primary"
                    >Minimum</mat-radio-button
                  >
                  <mat-radio-button value="2" color="primary"
                    >Moyen</mat-radio-button
                  >
                  <mat-radio-button value="3" color="primary"
                    >Fort</mat-radio-button
                  >
                  <mat-radio-button value="4" color="primary"
                    >Maximum</mat-radio-button
                  >
                </mat-radio-group>
              </div> <br>
             
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <button mat-flat-button color="warn" matStepperPrevious>
            Retour
          </button>
          <button mat-flat-button color="primary" matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>





      <mat-step>
        <ng-template matStepLabel>Finir</ng-template>
        <div class="row">
          <div class="col-lg-6 col-sm-6">
            <div class="row">
              <div class="col-sm-12 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                  >Date d'effet
                </mat-label>
              </div>
              <div class="col-sm-12">
                <mat-form-field appearance="outline" class="w-100">
                  <input matInput [matDatepicker]="effetpicker" placeholder="MM/JJ/AAAA" />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="effetpicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #effetpicker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
        </div>
        <div class="d-flex justify-content-between m-t-16">
          <button mat-flat-button color="warn" matStepperPrevious>Retour</button>
          <button mat-flat-button color="primary" (click)="stepper.reset()">Envoyer</button>
        </div>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card-content>
</mat-card>