<mat-card class="cardWithShadow theme-card">

  <mat-card-header>
    <mat-card-title>Add Book</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <mat-stepper linear>

      <!-- STEP 1 -->
      <mat-step [stepControl]="step1">
        <form [formGroup]="step1">

          <ng-template matStepLabel>Infos Book</ng-template>

          <div class="row">

            <div class="col-6">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="Title" formControlName="title">
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="Author" formControlName="author">
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="Genre" formControlName="genre">
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput type="number" placeholder="Year" formControlName="year">
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="Language" formControlName="langue">
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput type="number" placeholder="Pages" formControlName="total_pages">
              </mat-form-field>
            </div>

          </div>

          <button mat-button matStepperNext>Next</button>
        </form>
      </mat-step>

      <!-- STEP 2 -->
      <mat-step [stepControl]="step2">
        <form [formGroup]="step2">

          <ng-template matStepLabel>Description</ng-template>

          <mat-form-field appearance="outline" class="w-100">
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
          </mat-form-field>

          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </form>
      </mat-step>

      <!-- STEP 3 IMAGE -->
      <mat-step>
        <ng-template matStepLabel>Image</ng-template>

        <div style="text-align:center">

            <br><br>
        <input type="file" (change)="onFileSelected($event)">

        <!-- Preview image -->
        <div *ngIf="previewImage">
        <p>Preview :</p>
        <img [src]="previewImage" alt="Book Image" style="max-width: 200px; max-height: 200px;">
        </div>
        </div>

        <br>

        <button mat-button matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" (click)="addBook()">Submit</button>

      </mat-step>

    </mat-stepper>

  </mat-card-content>

</mat-card>